<!-- user/dashboard/dashboard-postinfo.handlebars -->

{{!-- This template renders the post information in the dashboard --}}

{{#each posts}}
  <div class="card">
    <h3 class="card-header">{{ title }}</h3>
    <div class="card-body">
      <p>{{ content }}</p>
      <p>Created by: {{ user.username }}</p>
      <p>Created at: {{ format_date created_at }}</p>
      {{#if comments.length}}
        <h4>Comments:</h4>
        <ul class="list-group">
          {{#each comments}}
            <li class="list-item">
              <p>{{ comment_text }}</p>
              <p>Comment by: {{ user.username }}</p>
              <p>Commented at: {{ format_date created_at }}</p>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No comments yet.</p>
      {{/if}}
    </div>
  </div>
{{/each}}
